{{- $identity := bitwarden "item" "GitHub-Personal-GP" -}}
[filter "lfs"]
  	clean = git-lfs clean -- %f
  	smudge = git-lfs smudge -- %f
  	process = git-lfs filter-process
  	required = true
[user]
    name = {{ $identity.login.username }}
    email = {{ (index $identity.fields 0).value }}

[init]
    defaultBranch = main

[pull]
    rebase = false

[core]
    editor = nvim

[credential "https://github.com"]
    helper = "!f() { echo username={{ $identity.login.username }}; echo password=$(bw get password GitHub-Personal-GP); }; f"
